@import url(variables.css);
@import url(typography.css);
@import url(layout.css);
@import url(header.css);
@import url(post.css);
@import url(blog.css);

/* Pages */
@import url(home.css);

:root {
  --accent-color: #002999;
}

body {
  font-family: "Rethink Sans", sans-serif;
  color: #333;
  line-height: 1.5;
  margin: 0;
  font-weight: 300;
}

