@import url(variables.css);
@import url(typography.css);
@import url(layout.css);
@import url(header.css);
@import url(post.css);

/* Pages */
@import url(home.css);

body {
  font-family: "Readex Pro", sans-serif;
  color: #333;
  line-height: 1.5;
  margin: 0;
  font-weight: 300;
}
