/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: #666;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

/* Code Blocks */
code {
  font-family: "DM Mono", "Jetbrains Mono", "SF Mono", "Menlo", monospace !important;
  font-weight: normal;
}
code:not([class*="language-"]) {
  background-color: #e2e2e2;
  padding: 0.1rem 0.4rem;
  border-radius: 3px;
  font-size: 0.85rem;
}
a {
  color: var(--color-link);
  text-decoration: none;
  transition: 0.3s;
}
a:hover,
a:focus {
  text-decoration: underline;
}
blockquote {
  margin: 2rem 0;
  padding: 1rem 2rem;
  box-shadow: 10px 10px rgb(0 0 0 / 10%);
  border: 1px solid;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
