<div class="site-footer">
  <footer class="footer-content">
  <p>With ❤️ from  Praveen Puglia</p>
  <ul class="social-links">
    <li class="navigation-link-item navigation-link-item--social">
        <a target="_blank" class="navigation-link" href="https://linkedin.com/in/praveenpuglia">
          LinkedIn
        </a>
      </li>
      <li class="navigation-link-item navigation-link-item--social">
        <a target="_blank" class="navigation-link" href="https://github.com/praveenpuglia">
          GitHub
        </a>
      </li>
      <li class="navigation-link-item navigation-link-item--social">
        <a target="_blank" class="navigation-link" href="https://codepen.io/praveenpuglia">
          CodePen
        </a>
      </li>
      <li class="navigation-link-item navigation-link-item--social">
        <a target="_blank" class="navigation-link" href="https://twitter.com/praveenpuglia">
          Twitter
        </a>
      </li>
  </div>
</footer>
</div>
