<div class="site-header">
  <header class="main-header">
    <a href="/">
      <h3 class="main-header-logo bold">Praveen Puglia</h3>
    </a>
    <nav role="navigation" class="main-navigation" aria-label="Main Navigation">
      <ul class="navigation-links">
        <li class="navigation-link-item">
          <a class="navigation-link" href="/posts">Posts</a>
        </li>
        <li class="navigation-link-item">
          <a class="navigation-link" href="/tags">Tags</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
