{% if title %}
  {% set pageTitle = title + ' - ' + siteMeta.name %}
{% else %}
  {% set pageTitle = siteTitle %}
{% endif %}
{% set pageDesc = description or siteMeta.shortDesc %}
{% set siteTitle = siteMeta.name %}
{% set description = siteMeta.metaDesc %}
{% set currentUrl = siteMeta.url + page.url %}

{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}
{% if metaDesc %}
  {% set pageDesc = metaDesc %}
{% endif %}

{% if canonical %}
  <link rel="canonical" href="{{ canonical }}"/>
{% endif %}

<title>{{ pageTitle }}</title>
<meta property="og:site_name" content="{{ siteTitle }}"/>
<meta property="og:title" content="{{ pageTitle }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ currentUrl }}"/>
<meta property="twitter:url" content="{{ currentUrl }}"/>
<meta property="twitter:site" content="{{ siteTitle }}"/>

{% if siteMeta.authorHandle %}
  <meta
  name="twitter:creator"
  content="@{{ siteMeta.authorHandle | replace('@', '') }}"
/>
{% endif %}

<meta name="description" content="{{ pageDesc }}"/>
<meta name="twitter:description" content="{{ pageDesc }}"/>
<meta property="og:description" content="{{ pageDesc }}"/>
<meta name="og:logo" content="{{ siteMeta.url }}/android-icon-192x192.png"/>

{% if socialImage %}
  <meta name="twitter:card" content="summary_large_image"/>
  <meta property="og:image" content="{{ siteMeta.url }}{{ socialImage }}"/>
  <meta name="twitter:image" content="{{ siteMeta.url }}{{ socialImage }}"/>
  <meta property="og:image:alt" content="{{ pageTitle }}"/>
  <meta name="twitter:image:alt" content="{{ pageTitle }}"/>
{% else %}
  <meta property="og:image" content="{{ siteMeta.url }}/assets/images/home-banner-mobile.avif"/>
  <meta name="twitter:image" content="{{ siteMeta.url }}/assets/images/home-banner-mobile.avif"/>
{% endif %}
{% if siteMeta.paymentPointer %}
  <meta name="monetization" content="{{ siteMeta.paymentPointer }}"/>
{% endif %}