<header class="main-header">
  <a href="/">
    <h3 class="main-header-logo">Hi! I am Praveen</h3>
  </a>
  <nav aria-role="navigation" class="main-navigation">
    <ul class="navigation-links">
      <li class="navigation-link-item">
        <a class="navigation-link" href="/blog">Blog</a>
      </li>
      <li class="navigation-link-item">
        <a target="_blank" class="navigation-link" href="https://linkedin.com/in/praveenpuglia">
          <img src="https://cdn.svgporn.com/logos/linkedin-icon.svg" alt="CodePen Logo">
          LinkedIn
        </a>
      </li>
      <li class="navigation-link-item">
        <a target="_blank" class="navigation-link" href="https://github.com/praveenpuglia">
          <img src="https://cdn.svgporn.com/logos/github-icon.svg" alt="CodePen Logo">
          GitHub
        </a>
      </li>
      <li class="navigation-link-item">
        <a target="_blank" class="navigation-link" href="https://codepen.io/praveenpuglia">
          <img src="https://cdn.svgporn.com/logos/codepen-icon.svg" alt="CodePen Logo">
          CodePen
        </a>
      </li>
      <li class="navigation-link-item">
        <a target="_blank" class="navigation-link" href="https://twitter.com/praveenpuglia">
          <img src="https://cdn.svgporn.com/logos/twitter.svg" alt="CodePen Logo">
          Twitter
        </a>
      </li>
    </ul>
  </nav>
</header>