.main-header {
  min-height: 3rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 2px solid;
  flex-direction: column;
}
.main-header-logo {
  margin-top: 0;
}
.main-header-logo::after {
  content: "👋";
  position: absolute;
  opacity: 0;
  transform: translateX(-50%);
  transition: 0.16s;
}
.main-header-logo:hover::after {
  transform: translateX(0);
  opacity: 1;
}
.navigation-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}
.navigation-link-item--social {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.navigation-link-item--social::after {
  content: "";
  display: block;
  position: absolute;
  inset: -0.25rem;
  border: 2px solid var(--color-link);
  z-index: -1;
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  transition: 0.16s;
}
.navigation-link-item--social:hover::after {
  opacity: 1;
  transform: scale(1);
}
.navigation-link {
  display: inline-flex;
  align-items: center;
  height: 100%;
  flex: 1;
  justify-content: center;
}
.navigation-link img {
  height: 1em;
}

@media (min-width: 768px) {
  .main-header {
    flex-direction: row;
  }
  .main-header-logo {
    margin: 0;
  }
  .main-navigation {
    margin-left: auto;
  }
}
