.single-post img {
  max-width: 100%;
}
.post__metadata {
  border-bottom: 1px solid var(--color-border-light);
  border-top: 1px solid var(--color-border-light);
  display: flex;

  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  flex-direction: column;
}
.post__metadata__tags {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}
.post__metadata__tag {
  background-color: #f1f8ff;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin: 0;
}
.single-post h1,
.single-post h2,
.single-post h3,
.single-post h4,
.single-post h5,
.single-post h6 {
  color: var(--accent-color);
  font-weight: bold;
}

.postlist-link .post-title {
  margin-top: 0;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .post__metadata {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
