:root {
  --color-link: #0070f3;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: #666;
}
h1 {
  font-size: 2.986rem;
}
h2 {
  font-size: 2.488rem;
}
h3 {
  font-size: 2.074rem;
}
h4 {
  font-size: 1.728rem;
}
h5 {
  font-size: 1.44rem;
}
h6 {
  font-size: 1.2rem;
}
/* Code Blocks */
code {
  font-family: "Jetbrains Mono", "SF Mono", "Menlo", monospace !important;
  font-weight: normal;
  font-size: 0.85rem;
}
code:not([class*="language-"]) {
  background-color: #e2e2e2;
  padding: 0.1rem 0.4rem;
  border-radius: 3px;
  font-size: 0.85rem;
}
a {
  color: var(--accent-color);
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
blockquote {
  margin: 2rem 0;
  padding: 1rem 2rem;
  box-shadow: 10px 10px rgb(0 0 0 / 10%);
  border: 1px solid;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
p {
  font-size: 112.5%;
}
.title {
  font-weight: bold;
  color: var(--accent-color);
  font-size: 3.5rem;
}
ul li, ol li {
  line-height: 1.7;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
li::marker {
  color: var(--accent-color);
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}
.main-header {
  min-height: 3rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 2px solid;
  flex-direction: column;
}
.main-header-logo {
  margin-top: 0;
}
.main-header-logo::after {
  content: "👋";
  position: absolute;
  opacity: 0;
  transform: translateX(-50%);
  transition: 0.16s;
}
.main-header-logo:hover::after {
  transform: translateX(0);
  opacity: 1;
}
.navigation-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}
.navigation-link-item--social {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.navigation-link {
  display: inline-flex;
  align-items: center;
  height: 100%;
  flex: 1;
  justify-content: center;
}
.navigation-link img {
  height: 1em;
}
@media (min-width: 768px) {
  .main-header {
    flex-direction: row;
  }
  .main-header-logo {
    margin: 0;
  }
  .main-navigation {
    margin-left: auto;
  }
}
.single-post img {
  max-width: 100%;
}
.post__metadata {
  border-bottom: 1px solid #eaecef;
  border-top: 1px solid #eaecef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.post__metadata__tags {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}
.post__metadata__tag {
  background-color: #f1f8ff;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin: 0;
}
.single-post h1,
.single-post h2,
.single-post h3,
.single-post h4,
.single-post h5,
.single-post h6 {
  color: var(--accent-color);
  font-weight: bold;
}
.posts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Pages */
.hero-banner img {
  display: block;
  margin: auto;
  margin-bottom: 3rem;
  max-width: calc(100% - 2rem);
  transform: translateX(-1rem);
  box-shadow: 1rem 1rem rgba(0, 0, 0, 0.1), 2rem 2rem rgba(0, 0, 0, 0.1);
}
:root {
  --accent-color: #002999;
}
body {
  font-family: "Rethink Sans", sans-serif;
  color: #333;
  line-height: 1.5;
  margin: 0;
  font-weight: 300;
}

