@import url(./variables.css);
@import url(./typography.css);
@import url(./layout.css);
@import url(./header.css);
@import url(./post.css);
@import url(./blog.css);
@import url(./footer.css);

/* Pages */
@import url(./home.css);

body {
  font-family: "Rethink Sans", sans-serif;
  color: var(--color-primary);
  line-height: 1.5;
  margin: 0;
  font-weight: 300;
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
