---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Page Not Found">
  <h1 class="title">404</h1>
  <p>Oops! The page you're looking for doesn't exist.</p>
  <p><a href="/">Go back home</a></p>
</BaseLayout>
