---
layout: default
---

<meta content="{{ site.title }}" property="og:site_name" />
{% if page.title %}
<meta content="{{ page.title }}" property="og:title" />
{% else %}
<meta content="{{ site.title }}" property="og:title" />
{% endif %} {% if page.title %}
<meta content="article" property="og:type" />
{% else %}
<meta content="website" property="og:type" />
{% endif %} {% if page.description %}
<meta content="{{ page.description }}" property="og:description" />
{% else %}
<meta content="{{ site.description }}" property="og:description" />
{% endif %} {% if page.url %}
<meta content="{{ site.url }}{{ page.url }}" property="og:url" />
{% endif %} {% if page.date %}
<meta
  content="{{ page.date | date_to_xmlschema }}"
  property="article:published_time"
/>
<meta content="{{ site.url }}/about/" property="article:author" />
{% endif %} {% if page.image %}
<meta content="/img/srcset/{{ page.image }}" property="og:image" />
{% else %}
<meta
  content="http://www.gravatar.com/avatar/08f8df25ec3b58272bd422dab475006f.jpg?s=200"
  property="og:image"
/>
{% endif %} {% if page.categories %} {% for category in page.categories limit:1
%}
<meta content="{{ category }}" property="article:section" />
{% endfor %} {% endif %} {% if page.tags %} {% for tag in page.tags %}
<meta content="{{ tag }}" property="article:tag" />
{% endfor %} {% endif %}
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <ul class="tags-list">
    {% for tag in page.tags %}
    <li class="tag">
      <code>{{tag}}</code>
    </li>
    {% endfor %}
  </ul>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }} {% include comments.html %}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small>{{ post.date | date_to_string }}</small>
        </a>
      </h3>
    </li>
    {% endfor %}
  </ul>
</div>
