---
layout: base
title: Posts
eleventyNavigation:
  key: Home
  order: 1
---
<h1 class="title">Posts</h1>
{% set postslistCounter = collections.posts | length %}
<ol reversed class="posts-list">
  {% for post in collections.posts | reverse %}
    <li class="post-item">
      <time class="post-date" datetime="{{ post.date | htmlDateString }}">{{
      post.date | readableDate
    }}</time>
      <a href="{{ post.url | url }}" class="postlist-link">
        <h4 class="post-title" style="view-transition-name: post-{{post.url.split('/')[2]}}">
          {% if post.data.title %}{{ post.data.title }}
          {% else %}
            <code>{{ post.url }}</code>
          {% endif %}
        </h4>
      </a>
    </li>
  {% endfor %}
</ol>